*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1: 0deg, #ffdee9 0%, #b5fffc 100%;
  --color-2: #333;
  --color-3: #f0f0f0;
  --color-4: #f8f8f8;
  --color-5: #f9f9f9;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* background-image: linear-gradient(var(--color-1)); */
  background: #5A72A0;
  max-width: 100vw;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  max-width: 100%;
  height: 37em;
  background: no-repeat center / cover url(../images/rb_2149156526.png);
  box-shadow: 10px 10px 20px #77E4C8,
              -10px -10px 20px #77E4C8;
  border-radius: 30px;
  margin-top: 3vh;
}
.photoProfile img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  /* object-fit: cover; */
  margin-top: 2vh;
  border: 2px dashed rgb(67, 67, 102);
}
.infos h1 {
  color: #fff;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}
.infos p {
  color: #fff;
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
}
.media-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.downloadCV {
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
  width: 14em;
  height: 3em;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.downloadCV:hover {
  background-color: #fff;
  color: #000;
}
#hireMe {
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: #6528f7;
  padding: 10px;
  margin-bottom: 10px;
  width: 8em;
  height: 3em;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#hireMe:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.main {
  font-size: 1.5rem;
  background: #5e686d;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
table {
  font-size: 2rem;
}
